<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.heh.valerr.tp_labo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <!-- a ou se trouve le intent filter, se trouve l'activity de démarrage -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--

<activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChildrenActivity"></activity>
        <activity android:name=".ListActivity"></activity>

-->
    </application>
<!-- Pour que le programme se lance sur la children activity, couper <intent-filter>...</intent-filter> et le mettre dans l'activité children activity -->
</manifest>